body {
  font-family: 'Montserrat';
  margin: 0;
}

p {
  margin: 20px;
  padding: 15px;
  word-spacing: 0.1em;
}

a {
  text-decoration:none;
}

.top {
  background-color: #F4F4F4 ;
}

.title { 
font-family: 'Roboto' ;
color: #fff;
display: flex;
flex-direction: row;
justify-content: center;
align-content: center;
flex-wrap: wrap;
padding: 0;
}

.faded-title {
color: rgba(255, 255, 255, 0.384);
flex-direction: row;
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.top-nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.top-nav li {
  display: flex;
  align-content: space-between;
  flex-direction: row;
  border: solid #fff;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
}

.header {
  background-image: url("media/colors.png");
  position: relative;
  z-index: 1;
  height: 420px;
  display: flex;
  flex-direction: column;
}

.profile {
  position:absolute;
  left: 40%;
  top: 285px;
  width: 150px;
  z-index: 2;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: solid #fff 2px;
}

.tech {
  justify-items: center;
  display: grid;
}

.tech h1 {
  background-color: #FA382F;
  color: #FFFFFF;
  display: inline-flex;
  padding: 5px;
}

.featured {
  background-color: #F4F4F4;
  justify-items: center;
  display: grid;
}

.featured h1 {
  background-color: #FA382F;
  color: #FFFFFF;
  display: inline-flex;
  padding: 5px;
}

.featured h4 {
  background-color: #FDDFE7;
  color: #000;
  display: inline-flex;
  padding: 5px;
  border-radius: 2px;
}

.projects {
  justify-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.project h4 {
 display: inline;
}

.big-red {
  color: #FA382F;
  text-transform: uppercase;
}

.thoughts {
  justify-items: center;
  display: grid;
}

.thoughts h1 {
  background-color: #FA382F;
  color: #FFFFFF;
  display: inline-flex;
  padding: 5px;
}

.skills {
  background-color: #F4F4F4;
 
}

.skills h1 {
  background-color: #FA382F;
  color: #FFFFFF;
  padding: 5px;
  display: inline;
}

.skills ul {
 display: flex;
 flex-direction: column;
}

.more-info {
  justify-items: center;
  display: grid;

}

.more-info a {
  text-decoration: none;
  cursor: pointer;
  color: #FA382F;
  justify-content: space-evenly;
  grid-area: 1/2/4/6;
  margin: 30px;
  width: 50px;
}

.more-info h1 {
  background-color: #FA382F;
  color: #FFFFFF;
  display: inline-flex;
  padding: 5px;
}

.more-info img {
  border: solid #FA382F;
  border-radius: 100%;
  padding: 5px;
  margin: 10px;
  height: 30px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  display: flex;
}


footer div {
  display: flex;
  flex-direction: column;
  margin:30px;
  align-items: center;
}


.red-line {
  width: 25px;
}

.red {
  color: #FA382F;
}

.blue {
  background-color:#072bce;
  color: #fff;
}

.gray {
  background-color: #F4F4F4;
}

.pink {
  background-color: #FDDFE7;
}

.white {
  background-color: #FFFFFF;
}