* {
  box-sizing: border-box;
  margin: 0;
}

body {
font-family: 'Montserrat';
}

p {
  margin-left: 20px;
  margin-right: 20px;
  padding: 15px;
  line-height: 1.5rem;
}

a {
  text-decoration:none;
  cursor: pointer;
  color: #000;
}

ul {
  list-style: none;
}

/** Header img and profile**/

.row {
display: flex;
flex-direction: row;
justify-content: flex-end;
margin-bottom: 20px;
padding-right: 15px;
}

.title { 
color: #fff;
display: flex;
flex-direction: column;
flex-wrap: wrap;
padding: 0;
justify-content: space-evenly;
align-items: flex-start;
font-size: larger;
}

.faded-title {
color: rgba(255, 255, 255, 0.856);
display: flex;
flex-direction: row;
justify-content: space-between;
font-family: 'Whisper';
}

.header li {
 display: flex;
 flex-direction: row;
 border: solid #fff;
 border-radius: 100%;
 padding: 10px;
 margin: 3px;
 width: 45px;
 height: 45px;
 justify-content: space-around;
}

.header {
/*background-image: url("media/1000002470.jpg");*/
background-color: #796346;
position: relative;
z-index: 1;
height: 460px;
display: flex;
flex-direction: column;
justify-content: center;
padding:2rem;
}

header h6 {
padding-right: 12px;
}

.gray {
  background-color: #F4F4F4;
}

.profile {
position:absolute;
left: 50%;
top: 410px;
width: 130px;
z-index: 2;
border-radius: 100px;
display: block;
margin: 0 auto;
border: solid #faf1f1 2px;
}

/** Titles and decoration**/

.big-red {
color: #FFFFFF;
background-color: #ba2976;
text-transform: uppercase;
padding: 5px;
margin-top: 10px;
flex-direction: column;
max-width: max-content; 
}

.skinny-red {
color: #ae60fc;
margin: 24px;
text-transform: uppercase;
display: flex;
justify-content: center;
font-family: 'Montserrat';
}

.title-white {
font-size: smaller; 
}

.red-line {
width: 25px;
}

.underscore {
text-decoration: underline;
}

.title-desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Tech-section**/

.tech {
display: flex;
flex-direction: column;
align-items: center;
}

.other-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Feautered projects**/

.featured {
padding: 30px;
display: flex;
flex-direction: column;
align-items: center;
font-family: 'roboto';
margin-bottom: 15px;
}

.featured a {
color: #000;
padding-left: 20px;
padding-right: 20px;
}

.pink h4 {
background-color: #FDDFE7;
color: #000;
display: inline-block;
padding: 7px;
margin-bottom: 5px;
margin-top: 15px;
border-radius: 2px;
flex-direction: row;
flex-wrap: wrap;
}

.card {
  width: 100%;
  margin-bottom: 20px;
  padding:20px;
}

.card img {
  background-image: cover;
  filter: brightness(0.8);
  margin-bottom: 15px;
  width: 100%;
}

.card h2 {
line-height: 2.5rem;
}

/** More projects**/

.projects {
  display: flex;
  justify-content: center;
}

/** Section thought**/
.thoughts {
justify-items: center;
display: grid;
padding: 30px;
font-family: 'roboto';
}

.desktop {
  display: none;
}

.thoughts img {
width: 100%;
height: fit-content;
height: auto;
margin: 16px;
}

.thoughts h1 {
background-color: #fa2f9b;
color: #FFFFFF;
display: inline-flex;
padding: 5px;
margin: 24px;
}

.thoughs-title {
padding-right: 25px;
padding-left: 25px;
}

.more {
padding-left: 15px;
margin-bottom: 20px;
font-family: 'roboto';
word-spacing: 0.2px;
}

/** Section skills**/

.skills {
display: flex;
flex-direction: column;
padding-right: 10px;
padding-left: 10px;
}

.skills-title {
align-self: center;
margin-bottom: 20px;
margin: 20px;
}

.skills ul {
padding: 5px;
justify-content: space-between;
}

.skills li {
display: flex;
justify-content: center;
}

.skills-list {
 display: flex;
 flex-wrap: wrap;
justify-content: center;
}

/** Section More**/

.more-info {
padding-left:25px;
padding-right: 25px;
display: flex;
flex-direction: column;
margin: 24px;
align-items: center;
}

.more-info h1 {
padding: 5px;
margin: 24px;
}

.icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.link-row {
  display: flex;
  flex-direction: row;
  color: #4e3837;
  align-content: center;
  justify-content: space-between;
  padding-left: 10px;
}

.link-row h6 {
  padding:10px;
}

.more-info a {
text-decoration: none;
}

.icon {
padding: 10px;
width: 45px;
height: 45px;
justify-content: center;
border: #8cf5ca solid 2px;
border-radius: 100px;
margin:10px;
}

.button {
  background-color: #f381b8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  max-width: 30%;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #f64675;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

/** Footer section**/

footer article {
display: flex;
flex-direction: column;
margin:25px;
font-weight: 300;
align-items: center;
}

.blue {
background-color:#b2bded;
color: #fff;
padding: 3rem;
font-family: 'roboto';
}

.blue h2 {
font-family: 'montserrat';
padding: 16px;
}

.blue h4 {
font-family: 'montserrat';
padding: 8px;
}

.red {
color: #dbaed9;
text-transform: uppercase;
}

/*** Media Queries ***/

@media (min-width: 650px) and (max-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
  }

  p {
    margin-inline-start: 25%;
    margin-inline-end: 25%;
    padding: 15px;
    word-spacing: 0.1em;
   }

  .title {
     padding-left: 300px;
   }

   .row {
   padding-right: 110px;
   }

}

@media (min-width: 1025px) {
  body {
   display: flex;
   flex-direction: column;
 }

  p {
  margin-inline-start: 25%;
  margin-inline-end: 25%;
  padding: 15px;
  word-spacing: 0.1em;
 }

  header h1 {
  padding-right: 12px;
}

.profile {
  position: absolute;
  left: 70%;
}

 .title { 
  display: inline-block; 
  flex-direction: column;
  margin-left: 25%;
  font-size: xx-large;
  }

 .faded-title { 
  display: inline-block; 
  }
 .header ul {
  padding-right: 20%;
  padding-top: 10%;
  }

 .featured { 
  font-family: 'Montserrat';
  padding-left: 300px;
  padding-right: 300px;
  flex-direction: row;
  }

  .title-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .card a {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  }

  .card h2 {
    padding-right: 50px;
  }

  .card img {
    background-image: cover;
    filter: brightness(0.8);
    margin-bottom: 15px;
    width: 90%;
    flex-wrap: wrap;
    flex-grow: 1;
  }

.other-projects {
  padding-left: 300px;
  padding-right: 20px;
}

  .desktop {
   display: flex;
   flex-direction: row;
   align-items: center;
  }

  .skills ul {
  width: 50%;
  margin-left: 150px ;
 }

 .skinny-red {
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .code-links {
  margin-left: 25%;
 }

 .thoughts img {
   width: 50%;
 }

 .thoughts p {
  width: 50%; 
 }

.thoughts h1 {
justify-items: center;
display: grid;
}

article .skills-list {
  display: flex;
  flex-direction: row;
  padding-right: 30px;
  padding-left: 30px; 
}

.skills ul {
  margin-left: 0;
  width: max-content;
}

}

